.form {
  font-family: "Inter", "Arial", sans-serif;
  display: block;
  border-style: none;
  border-width: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}