.add-button {
	border: 2px solid #FFFFFF;
	width: 150px;
	height: 50px;
	display: flex;
	border-radius: 2px;
	box-sizing: border-box;
	background-color: #000000;
	grid-area: add-button;
	cursor: pointer;
	
}

@media (max-width: 740px) {
	.add-button {
		width: 282px;
	}
}
