.element__trash-icon {
  padding: 0;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  background-image: url(../../../images/element-trash-icon.svg);
  border: 0;
  cursor: pointer;
  transition: opacity .1s linear;
}

.element__trash-icon:hover {
  opacity: .6;
}
