.element {
    margin: 0 auto;
    width: 282px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}