.popup__close-button {
	width: 40px;
	height: 40px;
	position: absolute;
	right: -42px;
	top: -45px;
	cursor: pointer;
	border: none;
	background: none;
	transition: 0.3s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.popup__close-button::before {
	height: 37px;
	position: absolute;
	top: 0;
	content: '';
	border: 2px solid #FFFFFF;
	transform: rotate(45deg);
}

.popup__close-button::after {
	height: 37px;
	position: absolute;
	top: 0;
	content: '';
	border: 2px solid #FFFFFF;
	transform: rotate(-45deg);
}

@media (max-width: 580px) {
	.popup__close-button {
		top: -37px;
		right: -9px;
	}

	.popup__close-button::before {
		border: 1px solid #FFFFFF;
		height: 21px;
	}

	.popup__close-button::after {
		border: 1px solid #FFFFFF;
		height: 21px;
	}
}