.element__delete-button {
  height: 20px;
  width: 18px;
  background-image: url(../../../image/delete-button.svg);
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  border: 0;
  border-radius: 0;
  transition: opacity linear 1s;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.element__delete-button:hover {
  opacity: 0.5;
  transition: opacity linear 0.5s;
}